################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SimpleMediatRDemo/.vs/SimpleMediatRDemo
/SimpleMediatRDemo/.vs/ProjectEvaluation
/SimpleMediatRDemo/MediatRDemo/bin/Debug/net6.0
/SimpleMediatRDemo/MediatRDemo/obj
